{% extends 'base.html' %}
{% block title %}Menu Master: Home {% endblock %}

{% block body %}

<h1>Menu Master</h1>

<div>
    <h3>About Menu Master</h3>
    <p>Menu Master is an app designed to help out in the kitchen.  Specifically, if can help with menu planning and ingredient tracking!  You can keep track of ingredients by adding them to your digital pantry.  You can create recipes that represent meals you like to eat.  You can compose menus from your recipes, and the app can even generate a grocery list for you by comparing your pantry to your menu.</p>
</div>

{% endblock %}