{% extends 'base.html' %}

{% block title %}Menu Master: Menus{% endblock %}

{% block body %}



{% if active_menu %}
<h3>Active Menu:</h3>
<h4>{{ active_menu.name }}</h4>
    {% for day in active_menu.days %}
        <h6>Day {{ day.day_of_week }}</h6>
        <ul class="list-group">
            {% for day_recipe in day.days_recipes %}
                <li class="list-group-item">{{ day_recipe.recipe.name }} <a class="btn btn-outline-secondary btn-sm" href="{{url_for('view_recipe', recipe_id=day_recipe.recipe.id)}}">View Recipe</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
<br>
<a class="btn btn-primary" href="{{url_for('deactivate_menu', menu_id=active_menu.id)}}">Deactivate Menu</a>
<br>
{% endif %}
<br>
<a href="{{url_for('create_menu')}}" class="btn btn-primary btn-lg">Create New Menu</a>
<br>
<h3>Your Menus:</h3>
{% for menu in user_menus %}
    <h4>{{ menu.name }}</h4>
    <a class="btn btn-primary btn-sm" href="{{url_for('make_menu_active', menu_id=menu.id)}}">Make Active</a>
    <a class="btn btn-primary btn-sm" href="{{url_for('delete_menu', menu_id=menu.id)}}">Delete Menu</a>
    {% for day in menu.days %}
        <h6>Day {{ day.day_of_week }}</h6>
        <ul class="list-group">
            {% for day_recipe in day.days_recipes %}
                <li class="list-group-item">{{ day_recipe.recipe.name }} <a class="btn btn-outline-secondary btn-sm" href="{{url_for('view_recipe', recipe_id=day_recipe.recipe.id)}}">View Recipe</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endfor %}

{% endblock %}