{% extends 'base.html' %}

{% block title %}Menu Master: Pantry{% endblock %}

{% block body %}
<div>
    <h3>Add Ingredient:</h3>
    <form action="{{url_for('pantry')}}" method="POST">
        {{add_ingredient_form.csrf_token()}}

        {{ add_ingredient_form.ingredient.label }}
        {{ add_ingredient_form.ingredient }}

        {{ add_ingredient_form.quantity.label }}
        {{ add_ingredient_form.quantity }}

        {{ add_ingredient_form.submit }}
    </form>
</div>
<br>
<div>
    <h3>Ingredients in your pantry:</h3>
    {% for item in user_pantry %}
        <ul class="list-group">
            <li class="list-group-item">Name: {{item.ingredient.name}} <a class="btn btn-outline-secondary btn-sm" href="/pantry/delfrom/{{item.ingredient.id}}">Remove</a></li>
            <li class="list-group-item">Quantity: {{item.quantity}}</li> 
        </ul>
        <br>
    {% endfor %}
</div>
<br>
{% endblock %}