{% extends 'base.html' %}

{% block title %}Menu Master: Recipes{% endblock %}

{% block body %}
<h1>Recipes</h1>

<a class="btn btn-primary" href="{{url_for('add_recipe')}}">Add Recipe</a>
<br>
<br>
{% for recipe in user_recipes %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{ recipe.name }}</h3>
        <h4 class="card-subtitle">Ingredients:</h4>
        <br>
        <ul class="list-group"></ul>
            {% for ri in recipe.recipe_ingredients %}
                <li class="list-group-item">{{ ri.quantity }} {{ ri.ingredient.name }}</li>
            {% endfor %}
        </ul>
        <br>
        <h4 class="card-subtitle">Instructions:</h4>
        <p class="card-text">{{ recipe.instructions }}</p>
        <a id="recipe-delete" class="btn btn-outline-secondary btn-sm" href="{{url_for('delete_recipe', recipe_id=recipe.id)}}">Delete</a>        
    </div>

</div>
<br>
{% endfor %}

{% endblock %}